<section class="section">
    <div>
      <div class="section_reset">
        <img src="./assets/images/trash.svg" alt="reset" class="section_reset_trash"/>
        reset
      </div>
      <div class="section_card">
        <article class="section_card_article">
          <h1 class="section_card_article_title">Nombre Apellido</h1>
          <p class="section_card_article_text">Front-end developer</p>
          <div class="section_card_article_container">
              <img class="section_card_article_container_image" src="./assets/images/lisa.png" alt="imagen lisa" />
          </div>
        </article>
      </div>
    </div>
  </section>