<section class="section">
  <div>
    <button type="reset" class="section_reset js-reset">
      <i class="fa-regular fa-trash-can trash "></i><p class="section_reset_p">Reset</p>
    </button>
    <div class="section_card">
      <article class="section_card_article">
        <h1 class="section_card_article_title">Nombre Apellido</h1>
        <p class="section_card_article_text">Front-end developer</p>
        <div class="section_card_article_container">
          <img class="section_card_article_container_image" src="./assets/images/lisa.jpg" alt="imagen lisa"/>
          <ul class="rrss">
            <li>
              <a href="#">
                <i class="fa-solid fa-mobile-screen-button mobile"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa-regular fa-envelope envelope"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa-brands fa-linkedin-in linkedin"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa-brands fa-github-alt git"></i>
              </a>
            </li>
          </ul>
        </div>
      </article>
    </div>
  </div>
</section>
