<form action="">
    <fieldset class="form_design">
        <legend class="form_design_legend"> 
            <i class="fa-regular fa-object-ungroup iconsForm"></i> 
            <h2 class="form_design_legendh2">Diseña</h2>
            <i class="fa-solid fa-chevron-down arrow"></i>
        </legend>
        <span class="form_design_colors">colores</span>
        <div class="form_design_palets">
            <label for="palet1">
                <input
                id="palet1"
                type="radio"
                value="palet1"
                name="colores"
                required
                checked>
               <img src="./assets/images/palet1.jpg" alt="Es la paleta 1"/>
            </label>
            
            <label for="palet2">
                <input
                id="palet2"
                type="radio"
                value="palet2"
                name="colores"
                required>
                <img src="./assets/images/palet2.jpg" alt="Es la paleta 2"/>
            </label>

            <label for="palet3">
                <input
                id="palet3"
                type="radio"
                value="palet3"
                name="colores"
                required>
                <img src="./assets/images/palet3.jpg" alt="Es la paleta 3"/>
            </label>
        </div>
    </fieldset>
    <fieldset>
        <legend> 
            <i class="fa-regular fa-keyboard iconsForm"></i> 
            <h2>Rellena</h2>
            <i class="fa-solid fa-chevron-down"></i>
        </legend>
        <div>
            <input type="" required>
        </div>
    </fieldset>
    <fieldset>
        <legend> 
            <i class="fa-solid fa-share-nodes iconsForm"></i>  
            <h2>Comparte</h2>
            <i class="fa-solid fa-chevron-down"></i>
        </legend>
        <div>
            <input type="">
        </div>
    </fieldset>

</form>