.section{
    background-image: linear-gradient(to bottom, $silver, $pale-grey);
    height: 457px;
    display: flex;
    justify-content: center;
    align-items: center;
    

    @media screen and (min-width:768px) {
        width: 40%;
        height: 100vh;
        border-radius: 10px;
        margin: 2.5rem 4rem;
    }
    @media screen and (min-width:1024px){
        width: 60%;
    }

    &_reset{
        text-transform: uppercase;
        border: solid $color-white-two 1px; 
        height: 30px;
        border-radius: 15px;
        background-color: $silver;
        color: $gunmetal;
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
       font-family: $font-paragraph;

        &_p{
            font-size: 1.2rem;
            margin-right: 12px;
            margin-left: 12px;
            font-family: $font-paragraph;
        }
    }
    &_card{
        height: 329px;
        width: 24rem;
        background-color: $color-white-two;
        margin-top: 20px;
        box-shadow: 0 1px 10px 0 $color-black, 0 1px 3px 0 rgba(0, 0, 0, 0.35);
        border-radius: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        
        &_article{
            &_title{
                font-size: 1.8rem;
                line-height: 1.11;
                color: $color-green;
                font-family: $montserrat;
                font-weight: bold;
                text-align: left;
                padding-left: 25px;
                border-left: 5px solid $dirty-blue;
                width: 100%;
            }
            &_text{
                font-size: 1.6rem;
                font-family: $montserrat;
                color: $gunmetal;
                font-weight: normal;
                line-height: 1.25;
                text-align: left;
                padding-left: 25px;
                border-left: 5px solid $dirty-blue;
                width: 100%;
            }
            &_container{
                &_image{
                    width: 240px;
                    height: 200px;
                    border: 0.5px solid $hospital-green;
                    margin-bottom: 5px;
                    margin-top: 5px;
                }
                
            }
        }
    }
}

.trash{
    width: 11px;
    height: 20px;
    margin-left: 12px;
}
.rrss{
    display: flex;
    text-decoration: none;
    list-style: none;
    
}
.mobile{
    width: 12px;
    height: 18px;
    border: solid 2px $hospital-green;
    color: $color-green;
    border-radius: 50%;
    padding: 8px 12px;
    margin-left: 20px;
    margin-right: 10px;

}
.envelope{
    width: 18px;
    height: 18px;
    border: solid 2px $hospital-green;
    color: $color-green;
    border-radius: 50%;
    padding: 8px;
    margin-right: 10px;
}
.linkedin{
    width: 16px;
    height: 18px;
    border: solid 2px $hospital-green;
    color: $color-green;
    border-radius: 50%;
    padding: 8px;
    margin-right: 10px;
}
.git{
    width: 17px;
    height: 18px;
    border: solid 2px $hospital-green;
    color: $color-green;
    border-radius: 50%;
    padding: 8px 9px;
}