.collapsed {
    .form-heading{
        .collap-arrow{
            transform: rotate(180deg);
        }
    }
    .collap-colors, .collap-fill, .collap-share, .collap-div2{
        display: none;
    }

}


.form_design {
    border-style: none;
    justify-items: space-between;
    padding: 2.5rem 2.5rem 2.5rem 2.5rem; 
    width: 100vw; 
    border-bottom: 0.5px solid $white-three;

    &_legend {
    display: flex; 
    text-transform: uppercase;
    font-family: $font-paragraph;
    font-weight: 600;
    font-size: 1.2rem;
    padding-top: 2.5rem;
    }

    &_legendh2 {
       margin-left: 1rem;
       color: $gunmetal;
    }

    &_palets {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: right;
        gap: 1.5rem; 

    }

    &_colors {
        text-transform: uppercase;
        font-size: 1.4rem;
        position: relative; 
        top: 1.5rem;
        color: $gunmetal;
        font-family: $font-paragraph;
    }
}

.arrow {
    width: 1.6rem;
    height: 1.8rem; 
    color: $gunmetal;
    position: absolute;
    left: 87%; 
}

.iconsForm {
    width: 2.1rem;
    height: 1.8rem; 
    color: $color-orange;
}

.form_fill {
    border-style: none;
    padding: 2.5rem 2.5rem 2.5rem 2.5rem; 
    border-bottom: 0.5px solid $white-three;
    width: 100vw; 

    &_form {
      display: flex;
      flex-direction: column;
      gap: 2rem; 
      font-size: $font-paragraph;
      color: $color-green; 
    }

    &_legend {
        display: flex; 
        text-transform: uppercase;
        font-family: $font-paragraph;
        font-weight: 600;
        font-size: 1.2rem;
        padding-top: 2.5rem;
    }
    &_legendh22 {
        margin-left: 1rem;
        color: $gunmetal;
    }
    &_formbutton{
        background-color: $color-orange;
        color: white;
        border-radius: 3px;
        border-style: none; 
        width: 14rem;
        height: 3rem; 
        padding: 8px ;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
    }
    &_formlabel{
        font-family: $font-paragraph;
        font-size: 1.4rem; 
    }
    &_forminput {
        height: 3rem; 
        border: $hospital-green solid 1px; 
    }
    &_forminputimg {
        width: 3rem;
        height: 3rem; 
        margin-left: 2rem;
        border: $hospital-green solid 1px; 
    }
}

::placeholder {
    color: $pinkish-grey; 
    padding-left: 5px;
}

.form_share {
    border-style: none;
    justify-items: space-between;
    padding: 2.5rem 2.5rem 2.5rem 2.5rem; 
    border-bottom: 0.5px solid $white-three;
    width: 100vw; 


    &_legend {
        display: flex; 
        text-transform: uppercase;
        font-family: $font-paragraph;
        font-weight: 600;
        font-size: 1.2rem;
        padding-top: 2.5rem;
    }
    &_legendh23 {
        margin-left: 1rem;
        color: $gunmetal;
    }
    &_link{
        text-decoration: none;
        font-family: $font-paragraph;
        font-weight: 600;
        color: white;
        font-size: 1.8rem; 
        text-transform: uppercase;
    }

    &_div {
        display: flex; 
        justify-content: center;
        align-content: center;
        align-items: center;
        gap: 2rem; 
        background-color: $color-orange;
        border-radius: 12px;
        border-style: none; 
        width: 20rem;
        height: 5rem; 
        padding: 8px ;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
       position: relative;
       left: 15%; 
    }
    &_div2{
        margin-top: 2rem;
        border-top: 0.5px solid $white-three;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem; 
    }

    &_div2-p{
        padding-top: 1.5rem;
        font-family: $font-paragraph;
        font-weight: 600;
        color: $gunmetal;
        font-size: 1.8rem;
    }
    &_link2 {
        color: $color-orange;
        text-decoration: none;
        font-family: $font-paragraph;
    }
    &_link3 {
        background-color: rgba(0, 0, 0, 0.70);
        color: white;
        text-decoration: none;
        border-radius: 3px;
        border-style: none; 
        width: 14rem;
        height: 3rem; 
        padding: 5px;
        text-align: center;
        line-height: 1.43; 
        font-family: $font-paragraph;
        font-size: 1.4rem;
    }
}

