
.header {
    height: 30vh;
    
    background-color: $color-bg;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:  center;
}



.mainImage {
    width: 25rem;
    margin-top: 15rem;
}

